/*
1em = 16px
*/
@keyframes menuIn {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0 15rem;
  font-family: "Lato", sans-serif;
  font-weight: 700; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.navigation__consultation {
  float: right;
  padding-top: 3.3rem;
  display: inline-flex; }
  .navigation__consultation__text {
    color: white;
    background-color: #033C3B;
    padding: .7rem 1.7rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    margin-right: 2rem;
    text-decoration: none; }

.navigation__logo {
  height: 10rem;
  width: 30rem;
  padding-left: 7rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  top: 1.2rem;
  position: fixed;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button::after {
      content: "\A";
      white-space: pre; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: none;
  position: fixed;
  background-image: url("../img/background-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem;
      background-size: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 20%;
  padding-left: 5rem;
  z-index: 1500;
  opacity: 0;
  width: 0; }

.navigation__list {
  position: absolute;
  list-style: none; }

.navigation__item {
  margin: 1rem;
  color: white; }
  .navigation__item:nth-child(2) {
    transition-delay: 100ms; }
  .navigation__item:nth-child(3) {
    transition-delay: 200ms; }
  .navigation__item:nth-child(4) {
    transition-delay: 300ms; }
  .navigation__item:nth-child(5) {
    transition-delay: 400ms; }
  .navigation__item:nth-child(6) {
    transition-delay: 500ms; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  line-height: 3rem;
  animation-name: menuIn;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover,
.navigation__link:active .navigation__link {
  color: #CBA525;
  opacity: 1 !important; }

.navigation__link__not-active {
  opacity: 0.2;
  color: rgba(255, 255, 255, 0.2) !important; }

.navigation__link__active {
  color: #CBA525; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  display: block; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: gray;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  background-color: white; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: white; }

@media (min-width: 720px) {
  .heroHome__container___1w_KP {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1790px; } }

@media (min-width: 420px) {
  .heroHome__container___1w_KP {
    max-width: 1730px; } }

.heroHome__container___1w_KP {
  flex-grow: 1;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1700px; }

@media (min-width: 720px) {
  .heroHome__list___2w5M9 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
    flex-direction: row; } }

@media (min-width: 720px) {
  .heroHome__group___Nzgw9 {
    flex: none;
    align-self: stretch;
    padding-left: 0;
    padding-right: 0;
    width: 50%; } }

.heroHome__group___Nzgw9 {
  position: relative; }
